.video-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.video-modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 900px;
  width: 90%;
  position: relative;
  box-sizing: border-box;
}

.video-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}
